@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order List";
}
<h1 style="text-align: center;"> Order List </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Processing</span>
                    }
                    else
                    {
                        <span class="text text-danger">Processed</span>
                    }
                </td>

                <td>
                    <a asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode" class="btn btn-default">View</a>
                    <a asp-action="Delete" asp-controller="Order" asp-route-Id="@item.Id" class="btn btn-default confirmDeletion">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>