@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Detail";
    decimal total = 0;
    decimal subtotal = 0;
}
<h1 style="text-align: center;"> Order Detail </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Username</th>
            <th scope="col">ProductId</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.ProductId</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString()</td>
            </tr>
        }
        <tr>
            <th colspan="6"></th>
            <td><strong>Total</strong>: </td>
            <td>@total.ToString()</td>
        </tr>
        <tr>
            <td colspan="8">
                <select class="form-control select-update-order">
                    <option value="1">Approve</option>
                    <option value="0">Cancel</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
@* @section Scripts
{
    <script>
        $(document).ready(function () { 
            $('.select-update-order')
        })
    </script>
} *@