@using WebBanHang0.Models.ViewModels
@model CartViewModel
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu" style="text-align: center;">
                        <td class="image">Item</td>
                        <td class="description">Description</td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Price</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @* <tr>
                    <td class="cart_product">
                    <a href=""><img src="images/cart/one.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                    <h4><a href="">Colorblock Scuba</a></h4>
                    <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                    <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                    <div class="cart_quantity_button">
                    <a class="cart_quantity_up" href=""> + </a>
                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                    <a class="cart_quantity_down" href=""> - </a>
                    </div>
                    </td>
                    <td class="cart_total">
                    <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                    </tr> *@

                    @* <tr>
                    <td class="cart_product">
                    <a href=""><img src="images/cart/two.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                    <h4><a href="">Colorblock Scuba</a></h4>
                    <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                    <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                    <div class="cart_quantity_button">
                    <a class="cart_quantity_up" href=""> + </a>
                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                    <a class="cart_quantity_down" href=""> - </a>
                    </div>
                    </td>
                    <td class="cart_total">
                    <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                    </tr> *@
                    @if (@Model.CartItems.Count > 0)
                    {
                        @foreach (var item in Model.CartItems)
                        {
                            <tr align="center" style="text-align: center;">
                                <td @* class="cart_product" *@ align="center">
                                    <a href=""><img src="~/media/products/@item.Image" alt="" width="50" height="50"></a>
                                </td>
                                <td @* class="cart_description" *@ align="center">
                                    <h4><a href="">@item.ProductName</a></h4>
                                </td>
                                <td @* class="cart_price" *@ style="text-align: center;" align="center">
                                    <p>$@item.Price</p>
                                </td>
                                <td @* class="cart_quantity" *@ align="center">
                                    <div @* class="cart_quantity_button" *@>
                                        <a class="btn btn-default" asp-controller="Cart" asp-action="Increase" asp-route-Id="@item.ProductId"> + </a>
                                        <input @* class="cart_quantity_input" *@ type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                        <a class="btn btn-default" asp-controller="Cart" asp-action="Decrease" asp-route-Id="@item.ProductId"> - </a>
                                        <a class="btn btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-Id="@item.ProductId"> x </a>
                                    </div>
                                </td>
                                <td class="cart_total" align="center">
                                    <p class="cart_total_price">$@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString()</p>
                                </td>
                                @* 								<td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                        *@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" style="text-align: center;">
                                <h4>Your cart is empty</h4>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            @* 			<div class="col-sm-6">
            <div class="chose_area">
            <ul class="user_option">
            <li>
            <input type="checkbox">
            <label>Use Coupon Code</label>
            </li>
            <li>
            <input type="checkbox">
            <label>Use Gift Voucher</label>
            </li>
            <li>
            <input type="checkbox">
            <label>Estimate Shipping & Taxes</label>
            </li>
            </ul>
            <ul class="user_info">
            <li class="single_field">
            <label>Country:</label>
            <select>
            <option>United States</option>
            <option>Bangladesh</option>
            <option>UK</option>
            <option>India</option>
            <option>Pakistan</option>
            <option>Ucrane</option>
            <option>Canada</option>
            <option>Dubai</option>
            </select>

            </li>
            <li class="single_field">
            <label>Region / State:</label>
            <select>
            <option>Select</option>
            <option>Dhaka</option>
            <option>London</option>
            <option>Dillih</option>
            <option>Lahore</option>
            <option>Alaska</option>
            <option>Canada</option>
            <option>Dubai</option>
            </select>

            </li>
            <li class="single_field zip-field">
            <label>Zip Code:</label>
            <input type="text">
            </li>
            </ul>
            <a class="btn btn-default update" href="">Get Quotes</a>
            <a class="btn btn-default check_out" href="">Continue</a>
            </div>
            </div>
            *@			<div class="col-sm-12">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>$@Model.GrandTotal.ToString()</span></li>
                        @* 						<li>Eco Tax <span>$2</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>$61</span></li>
                        *@
                    </ul>
                    <div>
                        <a class="btn btn-default update" asp-controller="Cart" asp-action="Clear">Clear cart</a>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <a class="btn btn-default check_out" asp-controller="Checkout" asp-action="Checkout">Check-out</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
